.wjs_header {
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
}
.wjs_header .row {
  height: 100%;
  text-align: center;
}
.wjs_header .row > div:nth-of-type(-n+3) {
  border-right: 1px solid #ccc;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code {
  position: relative;
  display: block;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code > img {
  display: none;
}
.wjs_header .row > div:nth-of-type(-n+3) > .wjs_code:hover > img {
  display: block;
  position: absolute;
  top: 49px;
  left: 50%;
  transform: translate(-50%);
  border: 1px solid #ccc;
  border-top: none;
}
