// 定义变量
@baseColor:#e92322;

// 头部
.wjs_header{
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  .row{
    height: 100%;
    text-align: center;
    > div:nth-of-type(-n+3){
      border-right: 1px solid #ccc;
      > .wjs_code{
        position: relative;
        display: block;
        > img{
          display: none;
        }
        &:hover{
          > img{
            display: block;
            position: absolute;
            top: 49px;
            left: 50%;
            transform: translate(-50%);
            border: 1px solid #ccc;
            border-top: none;
          }
        }
      }
    }
  }
}